/**
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any Css/Less files within this directory, lib/assets/javascripts, vendor/assets/javascripts,
 * can be referenced here using a relative path.
 *
 * It's not advisable to add code directly here, but if you do, it'll appear in whatever order it
 * gets included (e.g. say you have require_tree . then the code will appear after all the directories
 * but before any files alphabetically greater than 'application.css'
 *
 *=require_directory less
 */
.progress{
    height: 2px;
}

 #progressbar {
    display: none;
    border-radius: 0;
    position:fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 2px;
    background: #b91f1f;
    border-radius: 10%;
}

#progressBar:before {
    position: absolute;
    content: '';
    top: 0;
    opacity: 1;
    width: 10%;
    right: 0px;
    height: 2px;
    box-shadow: #b91f1f 1px 0 6px 2px;
    border-radius: 50%;
}