/* *
*
* SOCIAL ICONS
* */
footer .social-icons {
	font-size: 58px;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
footer .social-icons a {
	color: #000;
	margin: 0 auto;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
footer .social-icons a.fb:hover, a.fb:focus {
	text-decoration: none;
	color: #3b5998;
}

footer .social-icons a.tw:hover, a.tw:focus {
	text-decoration: none;
	color: #55acee;
}
footer .social-icons a.yt:hover, a.yt:focus {
	text-decoration: none;
	color: #cc181e;
}
footer .social-icons a.in:hover, a.in:focus {
	text-decoration: none;
	color: #457499;
}
@media all and  (min-width: 991px) and (max-width: 1343px){ // 991px
	footer .social-icons {
		font-size: 60px;
		display: inline-flex;
	}
}

@media (max-width: @screen-xs-max) { }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }
@media (min-width: @screen-lg-min) { }

/* *
*
* LEGAL TERMS
* */
footer .legal-terms {
}
footer .legal-terms p {
	font-size: 12px;
}