@import 'base.less';
//styles specific for the frontend

.progress{
    height: 2px; position: absolute;
}

#progressbar {
    display: none;
    border-radius: 0;
    position:fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 2px;
    background: #b91f1f;
    border-radius: 10%;
}

#progressBar:before {
    position: absolute;
    content: '';
    top: 0;
    opacity: 1;
    width: 10%;
    right: 0px;
    height: 2px;
    box-shadow: #b91f1f 1px 0 6px 2px;
    border-radius: 50%;
}

/**
*
* LOGIN STYLE
*
*/

body {
    background: url(http://cdn.shopify.com/s/files/1/0250/5422/files/ios_linen_texture___black_by_vegardhw-d3ddll5_copy.jpg?2614) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.jumbotron {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    vertical-align: center;
    // background-color: #fff;
}

.container .glyphicon-stats {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
}

input {
    width: 100%;
    margin-bottom: 0.4rem;
    padding: 1rem;
    background-color: #ecf2f4;
    border-radius: 0.2rem;
    border: none;
}

h2 {
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ababab;
}

.btn {
    border-radius: 0.2rem;
}

.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}

.full-width {
    background-color: #8eb5e2;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/**
*
* USER PROFILE
*
*/

.user-profile {
    margin: 20px 0 0;
}
.user-profile:before, .user-profile:after {
    content: " ";
    display: table;
}
.user-profile:after {
    clear: both;
}
.user-profile:before, .user-profile:after {
    content: " ";
    display: table;
}
.user-profile:after {
    clear: both;
}
.user-profile figure {
    margin: 0;
}
.user-profile figure:before, .user-profile figure:after {
    content: " ";
    display: table;
}
.user-profile figure:after {
    clear: both;
}
.user-profile figure:before, .user-profile figure:after {
    content: " ";
    display: table;
}
.user-profile figure:after {
    clear: both;
}
.user-profile img {
    border-radius: 4px;
    float: left;
    height: 40px;
    width: 40px;
}
.user-profile figcaption {
    float: left;
    margin-left: 10px;
}
.user-profile figcaption strong {
    display: block;
    font-size: 16px;
    line-height: 18px;
}
.user-profile figcaption strong a {
    color: #869198;
}
.user-profile figcaption strong a:hover {
    color: #2980b9;
    text-decoration: none;
}
.user-profile figcaption ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.user-profile figcaption ul:before, .user-profile figcaption ul:after {
    content: " ";
    display: table;
}
.user-profile figcaption ul:after {
    clear: both;
}
.user-profile figcaption ul:before, .user-profile figcaption ul:after {
    content: " ";
    display: table;
}
.user-profile figcaption ul:after {
    clear: both;
}
.user-profile figcaption ul > li {
    display: block;
    float: left;
}
.user-profile figcaption ul > li a {
    color: #a1aab0;
}
.user-profile figcaption ul > li a:hover {
    color: #2980b9;
    text-decoration: none;
}
.user-profile figcaption ul > li + li {
    margin-left: 8px;
}
@media (min-width: 480px) {
.user-profile {
    float: right;
    margin: 10px 0 0;
}
.user-profile figure, .user-profile figcaption {
    float: right;
}
}
