@import 'base.less';
//styles specific for the frontend

#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#chartdiv2 {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

.progress{
    height: 2px;
}

#progressbar {
    display: none;
    border-radius: 0;
    position:fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 2px;
    background: #b91f1f;
    border-radius: 10%;
}

#progressBar:before {
    position: absolute;
    content: '';
    top: 0;
    opacity: 1;
    width: 10%;
    right: 0px;
    height: 2px;
    box-shadow: #b91f1f 1px 0 6px 2px;
    border-radius: 50%;
}