/* *
*
* LOGIN STYLE
* */
.jumbotron {
    text-align: center;
    width: 30rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    vertical-align: center;
    background-color: #fff;
}
.jumbotron .container .fa-bar-chart-o {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
}
.jumbotron input {
    margin-bottom: 0.4rem;
}
.jumbotron h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #ababab;
}
.jumbotron h2 span {
    margin-bottom: 1rem;
    font-weight: bolder;
    color: #f96145;
}
.jumbotron .btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}
.jumbotron .full-width {
    background-color: @vtr-color-botonblue;
}