/* *
*
* SIDEBAR
* */
.sidebar span {
	margin-right: 10px;
}
.sidebar .panel-title {
	font-size: 14px;
}
.sidebar .panel-body {
	padding: 0px;
}
.sidebar .panel-body table tr td {
	padding-left: 15px
}
.sidebar .panel-body .table {
	margin-bottom: 0px;
}