/* *
*
* SIDEBAR
* */
.sidebar
{
    margin-bottom: 20px;
}

.sidebar .nav > li:focus
{
    list-style: none;

    outline: medium none;

    -moz-outline-style: none;
}

.sidebar .nav > li > a
{
    top: 0;

    overflow: hidden;

    height: 40px;
    margin-top: 15px;
    padding: 10px;

    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;

    color: #fff;
    border: 0;
    border-radius: @border-radius-base;
    outline: medium none;
    background-color: @brand-primary;
    box-shadow: 0 0 0 1px #0f86a7 inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 8px 0 0 #2b6696, 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, .5);

    -moz-outline-style: none;
}

.sidebar .nav > li > a:focus,
.sidebar .nav > li > a:hover
{
    list-style: none;

    outline: medium none;

    -moz-outline-style: none;
}

.sidebar .nav > li .icon
{
    margin-right: 5px;

    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

.sidebar .nav > li > a:hover > .icon
{
    font-size: 30px;

    left: -20px;

    list-style: none;

    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);

    opacity: .2;
    color: @gray-darker;
}

.sidebar .nav > li .badge
{
    color: @idata-bg-content;
}

.sidebar .nav > li.active > a
{
    list-style: none;

    color: #fff !important;
    box-shadow: 0 0 0 1px #0f86a7 inset, 0 0 0 2px rgba(255, 255, 255, .15) inset, 0 4px 0 0 #2b6696, 0 4px 0 1px rgba(0, 0, 0, .4), 0 4px 4px 1px rgba(0, 0, 0, .5);
    // font-weight: bold;
}

.sidebar .nav > li.active > a .icon
{
    font-size: 30px;

    opacity: .2;
    color: @gray-darker;
}

.sidebar .nav > li > ul.children
{
    z-index: 10000;

    margin-top: 5px;
    padding-top: 10px;

    background-color: #fff;
}

.sidebar .nav > li.current > ul.children > li > a
{
    list-style: none;

    color: #fff!important;
    background-color: #999;
}

.sidebar .nav > li > ul.children > li
{
    margin-bottom: 5px;

    background-color: #fff;
}

.sidebar .nav > li > ul.children > li > a
{
    display: block;

    padding: 10px 15px;

    color: #000;
    // padding: 5px 10px;
    // padding-left: 15px;
}

.sidebar .nav > li > ul.children > li > a:hover,
.sidebar .nav > li > ul.children > li > a:focus
{
    display: block;

    list-style: none;

    color: #fff;
    background-color: @body-bg;
    // padding: 5px 10px;
    // padding-left: 15px;
}

.sidebar .nav > li > ul.children .in
{
    top: 9px;

    box-shadow: none;
}

.sidebar .nav .children .current
{
    // font-weight: bold;
    color: #000;
    background-color: @body-bg;
}
.sidebar .nav .children .current .icon
{
    font-size: 25px;

    color: #000;
    background-color: @body-bg;
}

.sidebar .nav > li.current > ul.children > li > a
{
    color: #fff!important;
    background-color: #999;
}
.sidebar .nav > li > ul.children > hr
{
    margin: 5px 0;
    padding: 0;

    border-width: 1px 0 0;
    border-style: solid none none;
}
