/* *
*
* SIDEBAR
* */
.sidebar .icon {
	margin-right: 5px;
}
.sidebar .panel-title {
	font-size: 14px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.sidebar .panel-title a {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.sidebar .panel-title a:hover, .sidebar .panel-title a:focus {
	// text-decoration: none;
	// font-weight: bold;
	// font-size: 16px;
}
.sidebar .panel-title a:hover > span, .sidebar .panel-title a:focus span {
	// margin-right: 15px;
}
.sidebar .panel-body {
	padding: 0px;
}
.sidebar .panel-body table tr td {
	padding-left: 15px
}
.sidebar .panel-body .table {
	margin-bottom: 0px;
}