@idata-bg-header:  					    #000;
@idata-bg-content:                      #fff;
@idata-bg-footer:                       #7f7f7f;
@idata-bg-sidebar:                      #000;
@idata-bg-topbar:                       #000;

// @idata-asidebar: 						#f9f9f9;
// @idata-topbar:      					#252525;
// @idata-dropdown: 						#252525;
// @idata-dropdown-a: 						#9a9a9a;
// @idata-dropdown-a-hover: 				#ffffff;
// @idata-dropdown-a-hover-background: 	rgba(255,255,255,0.05);
// @idata-botonblue: 						#006d87;
// @idata-botonblue-hover:   				#004d5f;
// @idata-borderBlue:      				#0086ac;
// @idata-borderGrey: 						#b8b8b8;

@gray-base:                             #fff;
@gray-darker:                           darken(@gray-base, 13.5%); // #222
@gray-dark:                             darken(@gray-base, 20%);   // #333
@gray:                                  darken(@gray-base, 33.5%); // #555
@gray-light:                            darken(@gray-base, 46.7%); // #777
@gray-lighter:                          darken(@gray-base, 93.5%); // #eee

@brand-primary:                         #0086ac;
@brand-success:                         #5cb85c;
@brand-info:                            #5bc0de;
@brand-warning:                         #f0ad4e;
@brand-danger:                          #d9534f;

//** Background color for `<body>`.
@body-bg:               #000;

//** Global textual link color.
@link-color:            @brand-primary;

@font-size-base:              13px;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@panel-bg:                    #fff;
@panel-body-padding:          5px;
@panel-default-heading-bg:    @brand-primary;

